langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
Wikipedia
langchain_text_splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
langchain_groq
langchain_core
requests
duckdb
pandas
duckduckgo-search
openai
validators==0.28.1
youtube-transcript-api
unstructured
pytube